.container {
    background-color: burlywood;
    width: 600px;
    height: 500px;
    position: relative;
}

.movebox {
    background-color: red;
    width: 100px;
    height: 100px;
    top: 20px;
    left: 20px;
    position: absolute;
    animation-name: moveBox;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

@keyframes moveBox {
    0%, 100%{
        top: 20px;
        left: 20px;
    }
    25% {
        top: 20px;
        left: 480px;
    }   
    50% {
        top: 380px;
        left: 480px;
    }
    75% {
        top: 380px;
        left: 20px;
    }  
}